
@model CreateGameViewModel

<h3 class="text-center fw-bolder">Create Game</h3>
<form asp-controller="Game" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">
            <div>
                <label asp-for="Name" class="form-label mt-4"></label>
                <input type="text" class="form-control" asp-for="Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-9">
                    <label asp-for="CategoryId" class="form-label mt-4" style="display:block"></label>
                    <select class="form-select" asp-for="CategoryId" asp-items="Model.Categories" data-placeholder="Select category" data-minimum-results-for-search="Infinity">
                        <option value=""></option>
                    </select>
                </div>
                <div class="col-3 m-0 mt-5 p-0 pt-2" style="justify-content:center">
                    <a class="btn btn-primary "style="width:90%" asp-controller="Category" asp-action="Create">Add new</a>
                </div>
            </div>
            <div class="row">
                <div class="col-9">
                    <label asp-for="SelectedDevices" class="form-label mt-4" style="display:block"></label>
                    <select class="form-select" asp-for="SelectedDevices" asp-items="Model.GameDevices" data-placeholder="Select devices" data-minimum-results-for-search="Infinity">
                        <option  value=""></option>
                    </select>
                </div>
                <div class="col-3 m-0 mt-5 p-0 pt-2" style="justify-content:center">
                    <a class="btn btn-primary " style="width:90%" asp-controller="Device" asp-action="Create">Add new</a>
                </div>
            </div>
            <div>
                <label asp-for="Description" class="form-label mt-4"></label>
                <textarea class="form-control" asp-for="Description"></textarea>
                 @* <span asp-validation-for="Name" class="text-danger"></span> *@
            </div>
            <div>
                <label asp-for="Cover" class="form-label mt-4"></label>
                <input type="file" class="form-control" asp-for="Cover"
                data-rule-extension="@Settings.AllowedExtensions.Replace(".",string.Empty)" 
                data-msg-extension="Not Allowed extension"    
                data-rule-filesize="@Settings.AllowedInbyts"
                data-msg-filesize="Allowed Size is @Settings.AllowedSizeInMB">
                <small  class="form-text text-muted">Only jpg,jpeg,png files are allowed with max size 1Mb</small>
                <span asp-validation-for="Cover" class="text-danger"></span>
            </div>
            <button class="btn btn-light mt-4">Save</button>
        </div>
        
        <div class="col-md-6 d-flex justify-content-center overflow-hidden pt-5 ">
            <img class="imagPreview d-none" alt="Cover Image" />
        </div>
    </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial.cshtml" />
    <script src="~/js/fileextensionandsizevalidator.js" asp-append-version="true"></script>
    <script src="~/js/imagepreview.js" asp-append-version="true"></script>
}
